@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

@media (prefers-color-scheme: light) {
  :root {
    --preferred-theme: "light";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --preferred-theme: "dark";
  }
}

* {
  box-sizing: border-box;
  color: var(--primary);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
  margin: 0;
  background-color: var(--secondary);
}

#body {
  margin: 8px;
}

pre, p {
  font-family: "Courier Prime", serif;
  font-size: 1.1em;
}

table {
  display: block;
}

table {
  border: 0.5vh solid var(--alt-secondary);
  display: inline-block;
}

tbody {
  padding: 0.1%;
  font-size: 1.3em;
  display: inline-block;
}