@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap')

@media (prefers-color-scheme: light) {
  :root {
    --preferred-theme: "light";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --preferred-theme: "dark";
  }
}

* {
  box-sizing: border-box;
  color: var(--primary);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
  margin: 0;
  background-color: var(--secondary);
}

#body {
  margin: 8px;
}

pre, p {
  font-family: "Courier Prime", serif;
  font-size: 1.1em;
}

table {
  width: 100%;
}

th, td {
  border: 1px solid var(--primary);
  text-align: center;
}
