@import url("https://fonts.googleapis.com/css?family=Courier+Prime");

@media (prefers-color-scheme: light) {
  :root {
    --preferred-theme: "light";
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --preferred-theme: "dark";
  }
}

* {
  box-sizing: border-box;
  color: var(--primary);
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

body {
  margin: 0;
  background-color: var(--secondary);
}

#body {
  margin: 8px;
}

pre, p {
  font-family: "Courier Prime", serif;
  font-size: 1.1em;
}

table {
  font-size: 1.3em;
  border-collapse: collapse;
  width:fit-content;
  background-color: var(--alt-secondary);
}

td {
  border: 0.1vw dashed var(--primary);
  text-align: center;
}

td * {
  margin: 0;
  display: block;
  padding: 10%;
}

table a {
  text-decoration: none;
}